html, body, div, span, p, a, del, em, img, ol, ul, li, fieldset, form, label {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

html, body {
	line-height: 1;
	min-height:100%;
	font-family:Artial, Verdana, sans-serif;
}
.content {
    position: relative;
    width: 100%;
    height: 800px;
    overflow: hidden;
}
.first {
  display: block;
  background:#FFCCCC url(img/section01.png) 50% 0 no-repeat;
  background-attachment:fixed;
}
.second {
  background:#FFCCCC 50% 0 no-repeat;
  background-attachment:fixed;
}
.third {
  background:#d2f6f8 50% 0 no-repeat;
  background-attachment:fixed;
}
